/*----- variables ----- */

// <color variables>
$mainColor: #c4c4c4;
$secondColor: #4bc740;
$textColor: #fff;
$linkColor: #fff;
// </color variables>

// <font variables>
$fontSize: 16px;
$fontFamlily: "Montserrat", sans-serif;
// </font variables>
