/*----- reviews ----- */
.reviews {
   background-image: url(../../img/reviews__background.png);
   background-repeat: no-repeat;
   padding: 56px 0px;
   &__content {
      margin-bottom: 100px;
   }
}

.reviews-item {
   &__avatar {
      margin: 0 auto;
      margin-bottom: 30px;
   }

   &__title {
      font-weight: 800;
      font-size: 48px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 30px;
   }

   &__desc {
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
   }
}
